page-coal-rtp2 {
	.square {
		width: 100% !important;
		height:0 !important;
		padding: 0 0 100% 0 !important;
		text-align: center;
	}

	.button-inner {
		position: absolute;
	    top: 50%;
	    left: 40%;
	    height: 50%;
	    transform: translate(-50%, -50%);
	    width: 10px;
	    height: 10px;
	    display: block;
	    
	}

	 img{
	  position:absolute;
	    left: 0;
	    right: 0;
	    margin:0 auto;
	    top:50%;
	    transform:translateY(-50%);
	 }
}
